# Database connection (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tromanage?schema=public"

# Authentication JWT Secret
JWT_SECRET="tromanage_super_secret_jwt_key_2026_production_safe_string_12345"

# App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
